<div id="social">
	<div class="decal">My name is Ju Hu. I love learning and designing.<br />I have a degree in mechanical engineering but I like to learn a bunch of other things.<br /><br />I built this website using Ruby on Rails framework and Jquery. Its all about learn by doing.<br /><br /> どうぞ</div><br /><br />
	<%= link_to (image_tag 'social-31.png', class:'social-icons', title:'I only share interesting updates and findings on twitter'), 'http://twitter.com/sohjuhu/', target:'_blank'%>
	<%= link_to (image_tag 'social-32.png', class:'social-icons', title:'Chat with me on Facebook'), 'http://facebook.com/sohjuhu/', target:'_blank'%>
	<%= link_to (image_tag 'social-33.png', class:'social-icons', title:'Past Experience & Skills'), 'http://sg.linkedin.com/in/juhus/', target:'_blank'%>
	<%= link_to (image_tag 'social-36.png', class:'social-icons', title:'Design Portfolio'), 'http://be.net/juhus', target:'_blank'%>
	<%= image_tag 'social-34.png', class:'social-icons', alt:'juhus...', title:'My Skype ID is "juhus...". I know...'%>
	<%= link_to (image_tag 'social-35.png', class:'social-icons', title:'Email me at soh.ju.hu@gmail.com'), 'mailto:soh.ju.hu@gmail.com', target:'_blank'%>
</div>
