<!DOCTYPE html>
<html>
<head>
  <title>SHFT. Press Start! </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <script src="http://masonry.desandro.com/masonry.pkgd.js"></script>
</head>
<body>
<div id="screen"></div>
<div id="preloader">
    <div id="status" class="decal">wait ar...</div>
</div>
<div class="main">
	<%= render 'layouts/header' %>
	<div id="container">
		<%= yield %>
	</div>
	<%= render 'layouts/social'%>
	<%= render 'layouts/footer' %>
</div>
<%= render 'layouts/footerjs' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</body>
</html>
